ul.breadcrumb(title="{{$state.current.name}}")
  li(ng-class="{active: $last}" ng-repeat="state in states")
    span(ng-if="state.data.icon" class="fa fa-{{state.data.icon}}")
    | &nbsp;{{state.title}}