#page(layout="horizontal" layout-fill)
  material-sidenav.material-sidenav-left.material-whiteframe-z4(component-id="left")
    div(layout="vertical" layout-fill)
      material-toolbar.material-theme-light
        .material-toolbar-tools
          .page-title 餐厅管理系统
      material-content.page-nav-wrap(flex)
        a.page-nav-link(ng-repeat="navEntry in navEntries | filter:ifCanNav"
          ui-sref="{{navEntry.name}}", ui-sref-active="active")
          material-button.nav-entry
            i.fa(class="fa-{{navEntry.data.icon}}")
            | {{navEntry.data.title}}
      material-button.nav-entry(ng-if="ifSignedIn()===true" ng-click="clickUser()")
        i.fa(class='fa-user')
        | {{getCurrentUser().Name}}
      material-button.nav-entry(id="signout" ng-if="ifSignedIn()===true" ng-click="clickSignOut()")
        i.fa.fa-sign-out.fa-2x
        | 退出
  div(layout="vertical" layout-fill)
    material-toolbar.material-theme-dark
      .material-toolbar-tools(layout="horizontal")
        material-button(hide-md ng-click="clickToggleNav()")
          span.fa.fa-th-list.fa-2x
        breadcrumb
        div(flex)
        material-button.page-toolbar-link(ng-if="ifSelectedRestaurant()===true" ng-click="clickRestaurant()")
          | {{getCurrentRestaurant()}}
        //material-button.hover(ng-if="ifSelectedRestaurant()===true" ng-click="clickSelectRestaurant()")
          u 返回餐厅选择
    material-content.background(layout="vertical" layout-fill scroll-y)
      //- nested ui-view is not working well in jade
      <div ui-view layout="vertical" layout-fill></div>
