form.restaurant-data-form
  .restaurant-tabs.clearfix
    .restaurant-tab-label 选择餐厅：
    .restaurant-tab(ng-repeat='restaurant in restaurants',
      ng-class='{true:"restaurant-tab-sel"}[rcsCommon.analyticsRestaurantIndex == $index]',
      ng-click='clickRestaurants($index)') {{restaurant.RestaurantName}}
.analytics
  .row
    .col-md-6
      .panel
        .analytics-title 最近30天节省的时间成本
        .analytics-circle-wrap.img-circle(ng-click='gotoData()')
          #analytics-data-30.analytics-circle 0
            span 分
    .col-md-6
      .panel
        .analytics-title.analytics-title-red 最近30天节省的人力成本
        .analytics-circle-wrap.img-circle(ng-click='gotoPerson()')
          #analytics-person-30.analytics-circle 0
            span 元

script(src='/js/data-chart.js')