script(src='/js/dependencies/highstock-release/highstock.js')
script(src='/js/dependencies/highstock-release/modules/exporting.js')

form.restaurant-data-form
  label.radio-inline(ng-repeat="restaurant in restaurants")
    input#restaurant-list-radio(type="radio", name="inlineRadioOptions",
      ng-checked='selectedIndex == $index',
      value="$index", ng-click='clickRestaurants($index)')
    |{{restaurant.RestaurantName}}

#data-container(style="height:100%;min-width:310px;") &nbsp;

script(src='/js/data-chart.js')