.restaurant-data-form {
  padding: 20px 20px 0;
}
.restaurant-tabs {}
.restaurant-tab,
.restaurant-tab-label {
  float: left;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
}
.restaurant-tab {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  color: #d9534f;
  border-radius: 2px;
  margin-right: 20px;
}
.restaurant-tab-label {
}
.restaurant-tab:hover,
.restaurant-tab-sel {
  background-color: #d9534f;
  color: #ffffff;
  font-weight: bold;
}
.analytics {
  padding: 20px;
}
.analytics .panel {
  border-radius: 2px;
  overflow: hidden;
}

.analytics-title {
  padding-left: 10px;
  font-size: 18px;
  font-weight: bold;
  height: 38px;
  line-height: 38px;
  background-color: #36a9e1;
  color: #ffffff;

}
.analytics-title-red {
  background-color: #d9534f;
}
.analytics-circle-wrap {
  width: 260px;
  height: 260px;
  background-color: #d9534f;
  text-align: center;
  margin: 40px auto;
  cursor: pointer;
}
.analytics-circle {
  line-height: 260px;
  color: #ffffff;
  font-size: 3em;
}
.analytics-circle span {
  font-size: 0.5em;
  padding: 0 0.2em;
}