.restaurant-data-form {
  padding: 20px;
}
.restaurant-data-form label {
  font-size: 1em;
  padding-right: 20px;
}

.analytics {
  padding: 20px;
}

.analytics-title {
  text-align: center;
  font-size: 2em;
  padding-top: 20px;
}
.analytics-circle-wrap {
  width: 260px;
  height: 260px;
  background-color: #d9534f;
  text-align: center;
  margin: 40px auto;
}
.analytics-circle {
  line-height: 260px;
  color: #ffffff;
  font-size: 3em;
}
.analytics-circle span {
  font-size: 0.5em;
  padding: 0 0.2em;
}